boto3
botocore
chromadb
fastapi
gitignore-parser
gqlalchemy
httpcore
httptools
httpx
langchain
langchain-aws
langchain-core
nltk
openai
pip
pip-requirements-parser
pip-tools
pydantic
pyproject_hooks
python-dotenv
typing_extensions
uvicorn